.header-info {
    color: rgb(197, 96, 28);
    font-family: fantasy;
    font-size: 20px;
}
body {
    background-image: url('../img/background.jpg');
    background-size: contain;
    backdrop-filter: blur(5px);
}
